{% extends "base.html" %}

{% block content %}

<div class="container">

	<div class="header">
		
		<div class="title">
			<h1>Latest Image</h1>
		</div>

		<div class="navigation">
			<a href='/'>Main Page</a>
			<a href='upload'>Upload an image</a> 
            <a href='image'>Show most recent image</a> 
            <a href='image_list'>Show all images</a> 
            <a href='image_search'>Search for an image</a> 
            <a href='disqus'>Disqus</a>
			<div class="clearer"><span></span></div>
		</div>

        <div class="main">
		
		<div class="content">
            <p>
            <img width=40% src='image_raw?special=latest'/>
        </div><div class="clearer"><span></span></div></div>
</div>
</div>
{% endblock %}
