{% extends "base.html" %}

{% block content %}

<title>File Upload</title>

<div class="container">

    <div class="header">
        
        <div class="title">
            <h1>Upload a PNG</h1>
        </div>

        <div class="navigation">
            <a href='/'>Main Page</a>
            <a href='upload'>Upload an image</a> 
            <a href='image'>Show most recent image</a> 
            <a href='image_list'>Show all images</a> 
            <a href='image_search'>Search for an image</a> 
            <div class="clearer"><span></span></div>
        </div>

    </div>

    <div class="main">
        
        <div class="content">
            <form action="upload_receive" method="post" enctype="multipart/form-data">
        Title: <br>
        <input type="text" name="title"><br>
        Description: <br>
        <textarea name="description" id="description"></textarea><br><br>
        <input type="file" name="file"><br>
        <input type="submit" value="Upload File to Server">
        <p>
        <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
        </div>
        <p>
    
    <div id="status"></div>

        </div>
    
        <div class="clearer"><span></span></div>

    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
(function() {
    
var bar = $('.bar');
var percent = $('.percent');
var status = $('#status');
   
$('form').ajaxForm({
    beforeSend: function() {
        status.empty();
        var percentVal = '0%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
    success: function() {
        var percentVal = '100%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
	complete: function() {
		window.location.replace ("/");
	}
}); 
})();       
</script>
{% endblock %}